<?xml version="1.0"?>
<AutoportXMLConfigFile>
	<ImageAnalysis>
		<DefaultValues>
			<pattern_color value="RED" />
			<hue low="50" high="170" />
			<saturation low="150" high="255" />
			<value low="100" high="255" />
			<color_tolerance value="50" />
			<roi_tolerance value="100" />
			<size_tolerance value="30" />
			<size_sup_tolerance value="64" />
		</DefaultValues>
	</ImageAnalysis>
	<PositionEstimation>
		<DefaultValues>
			<initial_position x="0" y="0" z="300" yaw="0" pitch="0" roll="0" />
			<real_world_points>
				<point0 x="50" y="50" z="0" />
				<point1 x="50" y="-50" z="0" />
				<point2 x="-50" y="-50" z="0" />
				<point3 x="-50" y="50" z="0" />
			</real_world_points>
			<focal_x value="2.0504e+03" />
			<focal_y value="2.0513e+03" />
			<pixel_dimension value="1.4e-3" />
		</DefaultValues>
	</PositionEstimation>
</AutoportXMLConfigFile>
