<?xml version="1.0"?>
<AutoportXMLConfigFile>
	<ImageAnalysis>
		<DefaultValues>
			<pattern_color value="BLUE" />
			<hue low="81" high="150" />
			<saturation low="0" high="255" />
			<value low="180" high="255" />
			<color_tolerance value="30" />
			<roi_tolerance value="50" />
			<size_tolerance value="30" />
			<size_sup_tolerance value="64" />
		</DefaultValues>
	</ImageAnalysis>
	<PositionEstimation>
		<DefaultValues>
			<initial_position x="0" y="0" z="1700" yaw="0" pitch="0" roll="0" />
			<real_world_points>
				<point0 x="-90" y="-90" z="0" />
				<point1 x="-90" y="70" z="0" />
				<point2 x="50" y="70" z="20" />
				<point3 x="90" y="70" z="0" />
				<point4 x="90" y="-90" z="0" />
			</real_world_points>
			<focal_x value="3.59" />
			<focal_y value="3.59" />
			<pixel_dimension value="1.4e-3" />
		</DefaultValues>
	</PositionEstimation>
</AutoportXMLConfigFile>
